@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura Cyrillic Book";
  src: url("../../static/fonts/futura/FuturaCyrillicBook.woff2") format("woff2");
}

@font-face {
  font-family: "Futura Cyrillic Bold";
  src: url("../../static/fonts/futura/FuturaCyrillicBold.woff2") format("woff2");
}