@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura Cyrillic Book";
  src: url("../../static/fonts/futura/FuturaCyrillicBook.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Cyrillic Bold";
  src: url("../../static/fonts/futura/FuturaCyrillicBold.ttf") format("truetype");
}